#header {
    background-color: var(--surface-0);
    font-family: sans-serif;
    padding: 0.5em;
    font-size: medium;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
}

#header a {
    color: var(--text-color);
    transition: color 0.25s ease-out;
}

#header a:hover {
    color: var(--primary-color);
}

#header > .title {
    float: left;
    font-size: x-large;
    padding: 0;
    margin: 0;
}

#header > .info {
    text-align: right;
    padding: 0;
    margin: 0;
}