body {
    margin: 0;
    padding: 0;
    background-color: var(--surface-100);
}

#navigation-form {
    margin: 1em auto;
    width: min-content;
}

#navigation-form button {
    font-size: 1.5em;
}

#clock-container {
    margin: 1em auto;
    width: min-content;
    font-size: 7vw;
    text-align: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}