body {
  margin: 0;
  padding: 0;
  background-color: var(--surface-100);
}

#history-card {
  margin: 1em 3em;
  padding: 0.5em;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: var(--surface-0);
}

#history {
  margin: 0 0 0.5em 0;
}

#history th {
  background-color: var(--surface-0);
}

#input-card {
  background-color: var(--surface-0);
  text-align: left;
  margin: 1em auto;
  padding: 0;
  width: max-content;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

#svg-card {
  width: min-content;
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: var(--border-radius);
  border: 1px solid var(--surface-border);
}

#form-card {
  background-color: var(--surface-0);
  text-align: left;
  margin: 1em 0 0 0;
  padding: 1em;
  width: max-content;
}

#input-form {
  margin: 0 auto;
  padding: 0;
  width: max-content;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#submit-button-container {
  margin: 2em auto 0 auto;
  width: min-content;
  padding: 0;
}

#history .hit {
  background-color: rgba(0, 255, 8, 0.15);
}

#history .miss {
  background-color: rgba(255, 53, 0, 0.15);
}

#navigation-button-container {
  margin: 1em;
}
