<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Лаб 3 Иващенко </title>

    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/header.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="text/javascript"></script>
    <script defer="defer" src="scripts/index.js" type="text/javascript"></script>
</h:head>
<h:body>
<!-- Шапка -->
<div id="header" class="ui-widget">
    <p class="title">
        Лабораторная работа №3
    </p>
    <p class="info">
        Иващенко Бронислав Егорович
        <br />
        Группа: P3209
        <br />
        Вариант: <a href="https://ibb.co/x7HWsjz" target="_blank">95755</a>
    </p>
</div>

<p:card id="clock-container" styleClass="ui-widget">
    <h:outputText value="#{clock.date}" />
    <br/>
    <h:outputText value="#{clock.time}" />
</p:card>

<h:form id="navigation-form">
    <p:commandButton ajax="false" action="mainPage" value="Начать"/>
</h:form>

<h:form>
    <p:remoteCommand name="updateTimeRemote" update="clock-container" />
</h:form>

</h:body>

</html>