<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Лаб 3 Иващенко </title>

    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/header.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" type="text/javascript"></script>
    <script defer="defer" src="scripts/main.js" type="text/javascript"></script>
</h:head>

<h:body>
    <!-- Шапка -->
    <div id="header" class="ui-widget">
        <p class="title">
            Лабораторная работа №3
        </p>
        <p class="info">
            Иващенко Бронислав Егорович
            <br />
            Группа: P3209
            <br />
            Вариант: <a href="https://ibb.co/x7HWsjz" target="_blank">95755</a>
        </p>
    </div>

    <div>
    <p:card id="input-card">
        <div>
        <div id="svg-card" >
        <svg id="svg-figure" height="300" width="300" xmlns="http://www.w3.org/2000/svg">
            <!-- Фигуры -->
            <polygon fill="#3399FF"
                     points="100 150 150 100 150 150" />

            <path fill="#3399FF"
                  d="M 50 150 L 150 150 L 150 250 C 150 250, 50 250, 50 150" />

            <polygon fill="#3399FF"
                     points="150 150 200 150 200 250 150 250"/>

            <!-- Оси -->
            <line x1="150" y1="0" x2="150" y2="300" stroke="black" stroke-width="2" />
            <line x1="0" y1="150" x2="300" y2="150" stroke="black" stroke-width="2" />
            <polyline points="144 12 150 0 156 12"  stroke="black" stroke-width="2" fill="none" />
            <polyline points="288 144 300 150 288 156"  stroke="black" stroke-width="2" fill="none" />

            <!-- Точки на осях -->
            <line x1="50" y1="145" x2="50" y2="155" stroke="black" stroke-width="1" />
            <line x1="100" y1="145" x2="100" y2="155" stroke="black" stroke-width="1" />
            <line x1="200" y1="145" x2="200" y2="155" stroke="black" stroke-width="1" />
            <line x1="250" y1="145" x2="250" y2="155" stroke="black" stroke-width="1" />

            <line x1="145" y1="50" x2="155" y2="50" stroke="black" stroke-width="1" />
            <line x1="145" y1="100" x2="155" y2="100" stroke="black" stroke-width="1" />
            <line x1="145" y1="200" x2="155" y2="200" stroke="black" stroke-width="1" />
            <line x1="145" y1="250" x2="155" y2="250" stroke="black" stroke-width="1" />

            <!-- Точка -->
            <circle id="preview-dot" cx="150" cy="150" r="4" fill="white" stroke="black" stroke-width="1" visibility="hidden" />

            <!-- Подписи на осях -->
            <text fill="black" x="288" y="140">X</text>
            <text fill="black" x="157" y="10">Y</text>

            <text class="neg-r-text" fill="black" x="45" y="140">-R</text>
            <text class="neg-r-2-text" fill="black" x="95" y="140">-R/2</text>
            <text class="r-2-text" fill="black" x="195" y="140">R/2</text>
            <text class="r-text" fill="black" x="245" y="140">R</text>

            <text class="neg-r-text" fill="black" x="160" y="255">-R</text>
            <text class="neg-r-2-text" fill="black" x="160" y="205">-R/2</text>
            <text class="r-2-text" fill="black" x="160" y="105">R/2</text>
            <text class="r-text" fill="black" x="160" y="55">R</text>
        </svg>
        </div>
        </div>

        <!-- Форма -->
        <div id="form-card">
            <h:form id="input-form">
                <div class="input-row">
                    <p:outputLabel value="X:" for="x-input"/>
                    <p:selectManyCheckbox id="x-input"
                                          value="#{parameters.XSelected}"
                                          flex="true"
                                          required="true"
                                          requiredMessage="Выберите X"
                                          onchange="updateX(this)"
                                          widgetVar="x-widget">
                        <f:selectItems value="#{parameters.XValues}" var="xValue"
                                       itemLabel="#{xValue}" itemValue="#{xValue}"/>
                    </p:selectManyCheckbox>
                    <p:message for="x-input" />
                </div>

                <div class="input-row">
                    <p:outputLabel value="Y:" for="y-input" />
                    <p:inputText id="y-input"
                                 value="#{parameters.y}"
                                 placeholder="[-5, 3]"
                                 required="true"
                                 autocomplete="off"
                                 requiredMessage="Введите значение Y"
                                 validatorMessage="Y должен быть числом от -5 до 3"
                                 onchange="updateY(this)"
                                 widgetVar="y-widget">
                        <f:validateRegex pattern="^(-5|3)([\.,]0+)?$|^(-[0-4]|[0-2])([\.,][0-9]+)?$"/>
                    </p:inputText>
                    <p:message for="y-input" />
                </div>

                <div class="input-row">
                    <p:outputLabel value="R:" for="r-input"/>
                    <p:selectManyCheckbox id="r-input"
                                          value="#{parameters.RSelected}"
                                          flex="true"
                                          required="true"
                                          requiredMessage="Выберите R"
                                          onchange="updateR(this)"
                                          widgetVar="r-widget">
                        <f:selectItems value="#{parameters.RValues}" var="rValue"
                                       itemLabel="#{rValue}" itemValue="#{rValue}"/>
                    </p:selectManyCheckbox>
                    <p:message for="r-input" />
                </div>

                <div id="submit-button-container">
                    <p:commandButton value="Отправить" actionListener="#{parameters.saveShot()}"
                                     update="input-form" validateClient="true"
                                     oncomplete="updateTable(); drawDot()"
                                     ajax="true"/>
                </div>
            </h:form>
        </div>
    </p:card>
    </div>

    <h:form>
        <p:remoteCommand name="saveShot" action="#{parameters.savePlotShot()}"
                         oncomplete="updateTable()"/>
        <p:remoteCommand name="updateTable" update="history" />
        <p:growl widgetVar="growlWidget" life="3000" keepAlive="false" sticky="false" />
    </h:form>

    <div id="history-card">
        <p:dataTable id="history"
                     var="shot"
                     value="#{parameters.shotList}"
                     rowStyleClass="#{shot.hit ? 'hit' : 'miss'}"
                     emptyMessage="История пуста"
                     scrollable="true"
                     scrollHeight="500">
            <p:column headerText="X">
                <h:outputText value="#{shot.x}" />
            </p:column>
            <p:column headerText="Y">
                <h:outputText value="#{shot.y}" />
            </p:column>
            <p:column headerText="R">
                <h:outputText value="#{shot.r}" />
            </p:column>
            <p:column headerText="Попадание">
                <h:outputText value="#{shot.hit}" converter="hitConverter"/>
            </p:column>
            <p:column headerText="Время" sortBy="#{shot.time}" sortOrder="desc">
                <h:outputText value="#{shot.time}" />
            </p:column>
        </p:dataTable>
        <h:form>
            <p:commandButton icon="pi pi-times" iconPos="right" styleClass="ui-button-raised ui-button-secondary"
                             value="Очистить" action="#{parameters.deleteShots()}"
                             oncomplete="clearDots()"
                             update="history"/>
        </h:form>
    </div>

    <div id="navigation-button-container">
        <h:form>
            <p:commandButton ajax="false" action="startPage" value="Начальная страница" styleClass="ui-button-outlined"/>
        </h:form>
    </div>
</h:body>
</html>